USE [Shapkin_clinic]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 04.03.2026 12:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medics]    Script Date: 04.03.2026 12:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medics](
	[IdMedic] [int] IDENTITY(1,1) NOT NULL,
	[MedicName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Medics] PRIMARY KEY CLUSTERED 
(
	[IdMedic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 04.03.2026 12:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[IdPatient] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[GenderId] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[InsurancePolicy] [nvarchar](50) NOT NULL,
	[FluragrafiaDate] [date] NOT NULL,
	[DIspanserizaciaDate] [date] NOT NULL,
	[Height] [numeric](18, 0) NOT NULL,
	[Weight] [numeric](18, 0) NOT NULL,
	[InvalidnostGroup] [numeric](3, 0) NULL,
	[InvalidnostGroupDate] [date] NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[IdPatient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 04.03.2026 12:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[IdVisit] [int] IDENTITY(1,1) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[PatientId] [int] NOT NULL,
	[MedicId] [int] NOT NULL,
 CONSTRAINT [PK_Visits] PRIMARY KEY CLUSTERED 
(
	[IdVisit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([IdGender], [GenderName]) VALUES (1, N'Муж')
INSERT [dbo].[Genders] ([IdGender], [GenderName]) VALUES (2, N'Жен')
SET IDENTITY_INSERT [dbo].[Genders] OFF
SET IDENTITY_INSERT [dbo].[Medics] ON 

INSERT [dbo].[Medics] ([IdMedic], [MedicName]) VALUES (1, N'Лор')
INSERT [dbo].[Medics] ([IdMedic], [MedicName]) VALUES (2, N'Терапевт')
INSERT [dbo].[Medics] ([IdMedic], [MedicName]) VALUES (3, N'Хирург')
SET IDENTITY_INSERT [dbo].[Medics] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthDate], [InsurancePolicy], [FluragrafiaDate], [DIspanserizaciaDate], [Height], [Weight], [InvalidnostGroup], [InvalidnostGroupDate], [Photo]) VALUES (1, N'Петров Петр Петрович', 1, CAST(N'2002-10-30' AS Date), N'XV 998-45-68', CAST(N'2024-12-22' AS Date), CAST(N'2024-10-23' AS Date), CAST(192 AS Numeric(18, 0)), CAST(85 AS Numeric(18, 0)), CAST(1 AS Numeric(3, 0)), CAST(N'2024-12-12' AS Date), N'1.jpg')
INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthDate], [InsurancePolicy], [FluragrafiaDate], [DIspanserizaciaDate], [Height], [Weight], [InvalidnostGroup], [InvalidnostGroupDate], [Photo]) VALUES (2, N'Сидоров Сидор Сидорович', 1, CAST(N'2003-07-06' AS Date), N' II 998-45-69', CAST(N'2024-01-21' AS Date), CAST(N'2024-11-22' AS Date), CAST(178 AS Numeric(18, 0)), CAST(95 AS Numeric(18, 0)), NULL, NULL, N'')
INSERT [dbo].[Patients] ([IdPatient], [FullName], [GenderId], [BirthDate], [InsurancePolicy], [FluragrafiaDate], [DIspanserizaciaDate], [Height], [Weight], [InvalidnostGroup], [InvalidnostGroupDate], [Photo]) VALUES (3, N'Веревкина Мария Евгеньевна', 2, CAST(N'1998-02-04' AS Date), N' III  998-45-64', CAST(N'2024-02-13' AS Date), CAST(N'2024-08-25' AS Date), CAST(169 AS Numeric(18, 0)), CAST(65 AS Numeric(18, 0)), NULL, NULL, N'2.jpg')
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicId]) VALUES (1, CAST(N'2024-01-20' AS Date), 1, 1)
INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicId]) VALUES (2, CAST(N'2024-01-21' AS Date), 2, 2)
INSERT [dbo].[Visits] ([IdVisit], [VisitDate], [PatientId], [MedicId]) VALUES (3, CAST(N'2024-01-22' AS Date), 3, 3)
SET IDENTITY_INSERT [dbo].[Visits] OFF
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Genders] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Genders] ([IdGender])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Genders]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Medics] FOREIGN KEY([MedicId])
REFERENCES [dbo].[Medics] ([IdMedic])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Medics]
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD  CONSTRAINT [FK_Visits_Patients] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([IdPatient])
GO
ALTER TABLE [dbo].[Visits] CHECK CONSTRAINT [FK_Visits_Patients]
GO
